/bin/
!/bin/.gitkeep

/composer.lock
/vendor/
/node_modules/

/etc/build/*
!/etc/build/.gitkeep

/tests/Application/yarn.lock

/behat.yml
/phpspec.yml

/tests/Behat/Resources/fixtures/export/*
!/tests/Behat/Resources/fixtures/export/.gitkeep
