parameters:
    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - '/Parameter #1 $configuration of method Symfony\Component\DependencyInjection\Extension\Extension::processConfiguration() expects Symfony\Component\Config\Definition\ConfigurationInterface, Symfony\Component\Config\Definition\ConfigurationInterface|null given./'
        - '/Parameter #1 $iterator of function iterator_to_array expects Traversable, array|Traversable given./'
        - '/does not call parent constructor from/'
        - '/Return type \(void\) of method FriendsOfSylius\\SyliusImportExportPlugin\\Command\\ImportDataFromMessageQueueCommand::execute\(\) should be compatible with return type \(int\|null\) of method Symfony\\Component\\Console\\Command\\Command::execute\(\)/'
        - '/Return type \(void\) of method FriendsOfSylius\\SyliusImportExportPlugin\\Command\\ExportDataCommand::execute\(\) should be compatible with return type \(int\|null\) of method Symfony\\Component\\Console\\Command\\Command::execute\(\)/'
        - '/Return type \(void\) of method FriendsOfSylius\\SyliusImportExportPlugin\\Command\\ExportDataToMessageQueueCommand::execute\(\) should be compatible with return type \(int\|null\) of method Symfony\\Component\\Console\\Command\\Command::execute\(\)/'
        - '/Return type \(void\) of method FriendsOfSylius\\SyliusImportExportPlugin\\Command\\ImportDataCommand::execute\(\) should be compatible with return type \(int\|null\) of method Symfony\\Component\\Console\\Command\\Command::execute\(\)/'
