parameters:
    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - '/Parameter #1 $configuration of method Symfony\Component\DependencyInjection\Extension\Extension::processConfiguration() expects Symfony\Component\Config\Definition\ConfigurationInterface, Symfony\Component\Config\Definition\ConfigurationInterface|null given./'
        - '/Parameter #1 $iterator of function iterator_to_array expects Traversable, array|Traversable given./'
        - '#[a-zA-Z0-9\\_]OrderResourcePlugin::__construct()#'
        - '#[a-zA-Z0-9\\_]JsonResourceExporter::__construct()#'
        - '#[a-zA-Z0-9\\_]JsonResourceImporter::__construct()#'
