## Import route
app_import_data:
    path: /import/{resource}
    methods: [POST]
    defaults:
        _controller: sylius.controller.import_data::importAction

## Export routes for specific settings
app_export_data_country:
    path: /export/sylius.country/{format}
    methods: [GET]
    defaults:
        resource: sylius.country
        _controller: sylius.controller.export_data_country::exportAction
        _sylius:
            filterable: true
            grid: sylius_admin_country

app_export_data_order:
    path: /export/sylius.order/{format}
    methods: [GET]
    defaults:
        resource: sylius.order
        _controller: sylius.controller.export_data_order::exportAction
        _sylius:
            filterable: true
            grid: sylius_admin_order

app_export_data_customer:
    path: /export/sylius.customer/{format}
    methods: [GET]
    defaults:
        resource: sylius.customer
        _controller: sylius.controller.export_data_customer::exportAction
        _sylius:
            filterable: true
            grid: sylius_admin_customer

app_export_data_product:
    path: /export/sylius.product/{format}
    methods: [GET]
    defaults:
        resource: sylius.product
        _controller: sylius.controller.export_data_product::exportAction
        _sylius:
            filterable: true
            grid: sylius_admin_product
