app_import_data:
    path: /import/{resource}
    methods: [POST]
    defaults:
        _controller: sylius.controller.import_data:importAction

app_export_data:
    path: /export/{resource}/{format}
    methods: [GET]
    defaults:
        _controller: sylius.controller.export_data:exportAction
