services:
    # Controllers for Admin-Integration
    sylius.controller.import_data:
        class: FriendsOfSylius\SyliusImportExportPlugin\Controller\ImportDataController
        arguments:
            - "@sylius.importers_registry"
            - "@router"
            - "@session"
            - "@form.factory"
            - "@twig"

    sylius.controller.export_data:
          class: FriendsOfSylius\SyliusImportExportPlugin\Controller\ExportDataController
          arguments:
              - "@sylius.exporters_registry"
              - "@sylius.resource_controller.request_configuration_factory"
              - "@sylius.resource_controller.resources_collection_provider"

    # Registries for Importers / Exporters
    sylius.exporters_registry:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\ExporterRegistry
        arguments:
            - FriendsOfSylius\SyliusImportExportPlugin\Exporter\ResourceExporterInterface
            - exporter

    sylius.importers_registry:
        class: FriendsOfSylius\SyliusImportExportPlugin\Importer\ImporterRegistry
        arguments:
            - FriendsOfSylius\SyliusImportExportPlugin\Importer\ImporterInterface
            - importer

    # Default export transformers and a default transformers pool
    sylius.exporters_transformer_pool:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Transformer\Pool
        arguments: [!tagged sylius.exporter_transformer]

    sylius.exporters_transformer_datetime:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Transformer\Handler\DateTimeToStringHandler
        tags:
            - { name: sylius.exporter_transformer }

    sylius.exporters_transformer_integer_money_format:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Transformer\Handler\IntegerToMoneyFormatHandler
        arguments:
            - ['Total']
        tags:
            - { name: sylius.exporter_transformer }

    # Commands
    sylius.command.import_data:
        class: FriendsOfSylius\SyliusImportExportPlugin\Command\ImportDataCommand
        arguments:
            - "@sylius.importers_registry"
        tags:
            - { name: 'console.command' }

    sylius.command.export_data:
        class: FriendsOfSylius\SyliusImportExportPlugin\Command\ExportDataCommand
        arguments:
            - "@sylius.exporters_registry"
        calls:
            - [ setContainer, ["@service_container"]]
        tags:
            - { name: 'console.command' }

    # Plugins for Exporters
    sylius.exporter.plugin.resource.countries:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Plugin\ResourcePlugin
        arguments:
            - "@sylius.repository.country"
            - "@property_accessor"
            - "@doctrine.orm.entity_manager"

    sylius.exporter.plugin.resource.orders:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Plugin\OrderResourcePlugin
        arguments:
            - "@sylius.repository.order"
            - "@property_accessor"
            - "@doctrine.orm.entity_manager"
            - "@sylius.service.address_concatenation"

    # PluginPools for Exporters. Can contain multiple Plugins
    sylius.exporter.pluginpool.countries:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Plugin\PluginPool
        arguments:
            - ["@sylius.exporter.plugin.resource.countries"]
            - ["Id", "Code" ,"Enabled"]

    sylius.exporter.pluginpool.orders:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Plugin\PluginPool
        arguments:
            - ["@sylius.exporter.plugin.resource.orders"]
            - ["Number", "State", "Product_list" , "Total" ,  "Currency_code", "Checkout_completed_at", "Checkout_state", "Payment_state", "Shipping_state", "Token_value", "Gender", "Full_name", "Email", "Telephone", "Shipping_address", "Billing_address" , "Customer_ip", "Notes"]

    # Service for gathering Information about Import
    sylius.importer.result:
        class: FriendsOfSylius\SyliusImportExportPlugin\Importer\ImporterResult
        arguments:
            - "@debug.stopwatch"
    # Service for validating the header-information of input-files.
    sylius.importer.metadata_validator:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\MetadataValidator

    # Service for concatenating the address.
    sylius.service.address_concatenation:
        class: FriendsOfSylius\SyliusImportExportPlugin\Service\DefaultAddressConcatenation

    # generic ResourceProcessors, which can work with just Property-Accessors
    sylius.processor.countries:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\ResourceProcessor
        arguments:
            - "@sylius.factory.country"
            - "@sylius.repository.country"
            - "@property_accessor"
            - "@sylius.importer.metadata_validator"
            - ["Code"]

    sylius.processor.tax_categories:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\ResourceProcessor
        arguments:
            - "@sylius.factory.tax_category"
            - "@sylius.repository.tax_category"
            - "@property_accessor"
            - "@sylius.importer.metadata_validator"
            - ["Code", "Name", "Description"]

    sylius.processor.customer_groups:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\ResourceProcessor
        arguments:
            - "@sylius.factory.customer_group"
            - "@sylius.repository.customer_group"
            - "@property_accessor"
            - "@sylius.importer.metadata_validator"
            - ["Code", "Name"]

    # Definition of custom Processors, which can have additional logic to handle dependencies to other resources
    sylius.processor.payment_methods:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\PaymentMethodProcessor
        arguments:
            - "@sylius.factory.payment_method"
            - "@sylius.repository.payment_method"
            - "@sylius.importer.metadata_validator"
            - ['Code', 'Name', 'Instructions', 'Gateway']
