services:
    # Controllers for Admin-Integration
    sylius.controller.import_data:
        class: FriendsOfSylius\SyliusImportExportPlugin\Controller\ImportDataController
        arguments:
            - "@sylius.importers_registry"
            - "@router"
            - "@session"
            - "@form.factory"
            - "@twig"

    # Registries for Importers / Exporters
    sylius.exporters_registry:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\ExporterRegistry
        arguments:
            - FriendsOfSylius\SyliusImportExportPlugin\Exporter\ResourceExporterInterface
            - exporter

    sylius.importers_registry:
        class: FriendsOfSylius\SyliusImportExportPlugin\Importer\ImporterRegistry
        arguments:
            - FriendsOfSylius\SyliusImportExportPlugin\Importer\ImporterInterface
            - importer

    # Commands
    sylius.command.import_data:
        class: FriendsOfSylius\SyliusImportExportPlugin\Command\ImportDataCommand
        arguments:
            - "@sylius.importers_registry"
        tags:
            - { name: 'console.command' }

    sylius.command.export_data:
        class: FriendsOfSylius\SyliusImportExportPlugin\Command\ExportDataCommand
        arguments:
            - "@sylius.exporters_registry"
        calls:
            - [ setContainer, ["@service_container"]]
        tags:
            - { name: 'console.command' }

    # Plugins for Exporters
    sylius.exporter.plugin.resource.countries:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Plugin\ResourcePlugin
        arguments:
            - "@sylius.repository.country"
            - "@property_accessor"
            - "@doctrine.orm.entity_manager"

    # PluginPools for Exporters. Can contain multiple Plugins
    sylius.exporter.pluginpool.countries:
        class: FriendsOfSylius\SyliusImportExportPlugin\Exporter\Plugin\PluginPool
        arguments:
            - ["@sylius.exporter.plugin.resource.countries"]
            - ["Id", "Code" ,"Enabled"]
    # Service for gathering Information about Import
    sylius.importer.result:
        class: FriendsOfSylius\SyliusImportExportPlugin\Importer\ImporterResult
        arguments:
            - "@debug.stopwatch"

    # Service for validating the header-information of input-files.
    sylius.importer.metadata_validator:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\MetadataValidator

    # generic ResourceProcessors, which can work with just Property-Accessors
    sylius.processor.countries:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\ResourceProcessor
        arguments:
            - "@sylius.factory.country"
            - "@sylius.repository.country"
            - "@property_accessor"
            - "@sylius.importer.metadata_validator"
            - ["Code"]

    sylius.processor.tax_categories:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\ResourceProcessor
        arguments:
            - "@sylius.factory.tax_category"
            - "@sylius.repository.tax_category"
            - "@property_accessor"
            - "@sylius.importer.metadata_validator"
            - ["Code", "Name", "Description"]

    sylius.processor.customer_groups:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\ResourceProcessor
        arguments:
            - "@sylius.factory.customer_group"
            - "@sylius.repository.customer_group"
            - "@property_accessor"
            - "@sylius.importer.metadata_validator"
            - ["Code", "Name"]

    # Definition of custom Processors, which can have additional logic to handle dependencies to other resources
    sylius.processor.payment_methods:
        class: FriendsOfSylius\SyliusImportExportPlugin\Processor\PaymentMethodProcessor
        arguments:
            - "@sylius.factory.payment_method"
            - "@sylius.repository.payment_method"
            - "@sylius.importer.metadata_validator"
            - ['Code', 'Name', 'Instructions', 'Gateway']
