{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}
{% set header = 'sylius.ui.'~resource %}

<div class="ui styled fluid accordion">
    <div class="title active">
        <i class="dropdown icon"></i>
        {{ header|trans }} import
    </div>
    <div class="content active">
        {{ form_start(form, {'action': path('app_import_data', {'resource': resource}), 'method': 'POST', 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button class="ui button" type="submit">Import Data</button>
        {{ form_end(form) }}
    </div>
</div>
