<form action="{{ path('app_import_data', {'resource': block.settings.resources.metadata.name}) }}" method="post" enctype="multipart/form-data">
    <input type="file" name="import-data"/>
    <select name="format">
        <option value="csv">CSV</option>
        <option value="excel">Excel</option>
    </select>
    <button type="submit">Import data</button>
</form>
